language: python 
python:
- '3.5'
- '3.6'
- '3.7-dev'

services:
- docker 

env:
- DOCKER_IMAGE=quay.io/pypa/manylinux1_x86_64
    PLAT=manylinux1_x86_64
- DOCKER_IMAGE=quay.io/pypa/manylinux1_i686
    PRE_CMD=linux32
    PLAT=manylinux1_i686
- DOCKER_IMAGE=quay.io/pypa/manylinux2010_x86_64
    PLAT=manylinux2010_x86_64

before_install:
- docker pull $DOCKER_IMAGE 

install:
- sudo find /usr -name '*.pyc' -delete
- sudo apt update
- sudo apt install libboost-dev
- pip install -r requirements.txt
- python setup.py install  
- pip install pytest
- pip install coveralls
- pip install pytest-cov # to get .coverage report via pytest

script:
- pytest --cov-append --cov=./waterz ./tests --verbose

after_success:
- coveralls 
- docker run --rm -e PLAT=$PLAT -v `pwd`:/io $DOCKER_IMAGE $PRE_CMD /io/travis/build-wheels.sh
- ls wheelhouse/

#matrix:
#  allow_failures:
#  - python: '3.7-dev'

notifications:
  email: false
